<div class="card-body">
    <h5 class="card-title text-capitalize">{{note_snippet_var.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        <span class="badge bg-{{note.get_label_display }}">
            {{note_snippet_var.due_date}}
        </span>
    </h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
        {% if type == "DELETE" %}
            <a href="{{note_snippet_var.get_finish_item_url}}" class="card-link text-success"><i class="fas fa-check"></i></a>
        {% else %}
            <a href="{{note_snippet_var.get_recover_item_url}}" class="card-link text-warning"><i class="fas fa-times"></i></a>
        {% endif %}
        
    <a href="{{note_snippet_var.get_delete_item_url}}" class="card-link text-danger"><i class="fas fa-dumpster"></i></a>
</div>