<!DOCTYPE html>
<html>
<head>
    <title>Text Editor</title>
</head>
<body>
    <a href="/" class="button">Home</a> <!-- Anchor tag styled as a button -->

    <form method="post" action="{% url 'save_file' %}">
        {% csrf_token %}
        <textarea name="content">{{ content }}</textarea><br>
        <button type="submit">Save</button>
    </form>
    <br>
    <form method="get" action="{% url 'clear_editor' %}">
        <button type="submit">Clear</button>
    </form>
</body>
</html>
